.account .block-dashboard-addresses .box-shipping-address,
.account .block-dashboard-info .box-newsletter {
    border-left: none;
    padding-left: 0;
    border-right: 1px solid @bordercolor;
    padding-right: 32px;
}
.header-container .header-content .mini-cart-wrapper.enable-sticky {
	display: none;
}

.header-wrapper-sticky.enable-sticky {
  border-bottom: 1px solid @bordercolor;
}


.owl-theme .owl-controls .owl-buttons{
	left: 13px;
}
.title-category-dropdown{
    &:after{
    	right: 10px;
    	left: auto;
    }
}
.rokan-product-heading h2{
    padding: 0 0 0 20px !important;
}
.vc_tta-tabs-container{
	margin-left: 80px;
	margin-right: 0;
}
.onsale_product{
	.item-product .product-info-cart{
	    text-align: right;
	}
}
.rokan-product-heading{
	&:before{
		right: 0;
		left: auto;
	}
}
.velaNewsletterFooter{
	.velaContentTitle{
		float: right;
		text-align: right;
		padding-right: 70px;
		padding-left: 0;
		&:before{
			right: 0;
			left: auto;
		}
	}
	.velaContentForm{
		float: right;
	}
	.velaContentSupport{
		float: left;
		text-align: left;
		.support-mail{
			padding-right: 60px;
			padding-left: 0;
			text-align: right;
			&:before{
				left: auto;
				right: 0;
			}
		}
	}
}
.owl-theme .owl-buttons{
    padding-right: 10px;
    padding-left: 0;
}
.verticalmenu.navigation.side-verticalmenu li.level0>a>span.cat-label{
	position: absolute;
	left: 17px;
	right: auto;
}
.verticalmenu.navigation.side-verticalmenu li.level0>a>span.cat-label:before{
	right: -3px;
	left: auto;
}
.verticalmenu.navigation.side-verticalmenu li.level0>a>span.cat-label.cat-label-label3:before {
    border-left-color: #0ae3eb;
    border-right: transparent;
}
.verticalmenu.navigation.side-verticalmenu li.level0>a>span.cat-label.cat-label-label1:before {
    border-left-color: #0cc485;
    border-right: transparent;
}
.verticalmenu.navigation.side-verticalmenu li.level0>a>span.cat-label.cat-label-label2:before {
    border-left-color: #eb2771;
    border-right: transparent;
}
.verticalmenu.navigation.side-verticalmenu li.level0>a>span.cat-label{
	display: none;
}
@media (max-width: 1199px){
	.newsletter-footer{
		text-align: right;
	}
	
}
@media (max-width: 1199px) and (min-width: 768px){
.menu_left_home1 .title-category-dropdown{
		width: 55px;
		display: flex;
		text-align: center;
		justify-content: center;
		span{
			padding-right: 0;
		}
		&:after{
			position: static;
		}
	}
}
 .verticalmenu.navigation.side-verticalmenu>ul{
  border: 1px solid @bordercolor !important;
  border-top: 0;
 }
.rowFlexMargin .velaBlock .contacinfo-logo{
	margin-bottom: 25px;
}

.onsale_product .item-product .product-info-cart button{
	&.item_added span:before{
	  background-color: #222;
	}
}

.login-container .block.block-new-customer{
	text-align: right;
} 
#one-step-checkout-form label,
.address-information ul li, 
.address-information .fieldset .field, #billing-new-address-form .fieldset .field,
#one-step-checkout-form input.radio, .payment-method input.radio,
#checkout-review-table-wrapper .osc-delete, .checkout-index-index .osc-delete,
.one-step-checkout input[type="checkbox"]{
  float: right !important;
}
.contact-index-index .columns .form.contact .action.primary,
.field .control._with-tooltip input{
  margin-right: 0 !important;
}
body .one-step-checkout .field-tooltip{
  right: auto;
  left: 0;
}
body #one-step-checkout-form .checkout-review-load .data-table tbody th, 
body #one-step-checkout-form .checkout-review-load .data-table tbody th label, body #one-step-checkout-form .checkout-review-load .data-table thead th, body #one-step-checkout-form .order-information ol li .opcheckout-shipping-method-section .sp-methods dt{
  text-align: right; 
}
.order-review-info .opcheckout-discount .actions-button{
  margin-left: 0 !important;
}
.login-container .block.block-new-customer{
  text-align: right;
}
.fieldset > .field:not(.choice) > .control._with-tooltip{
	width: 100% !important;
}
@media (max-width: 1500px) and (min-width: 1399px){
	.velaNewsletterFooter .velaContentForm{
		width: 40%;
	}
	.velaNewsletterFooter .velaContentSupport{
		width: 21%;
	}
}
@media (min-width: 768px){
	body{
		.order-review-info .opcheckout-discount .actions-button{
			width: 31.2%;
			button{
				width: 100%;
			}
		}
		#one-step-checkout-form input.radio, .payment-method input.radio,
		.one-step-checkout input[type="checkbox"]{
			margin-left: 4px;
			margin-right: 0;
		}
	}
}
.three-columns-new-osc #one-step-checkout-form .checkout-review-load .data-table{
  .even{
    .osc-delete{
      margin-left: 5px;
    }
     h2{
      padding-left: 0;
    padding-right: 8px;
     }
     td{
      &:first-child{
        padding-left: 7px !important;
      }
     }
  }
  td.qty-box{
    padding: 12px 0 12px 5px !important;
  }
  .osc-product-image{
    margin-bottom: 8px;
  }
  thead{
    th{
          padding-right: 0 !important;
    }
  }
}
#one-step-checkout-form input.radio, .payment-method input.radio{
  margin: 3px 0 0 5px !important;
}
body #one-step-checkout-form input[type="checkbox"]{
  margin: 0px 0 0 6px !important;
}
body #one-step-checkout-form .wrap-payment-content .field.choice {
  line-height: 1 !important;
}
@media (max-width: 850px){
  #one-step-checkout-form .checkout-review-load .data-table td.qty-box .box-qty{
    float: right !important;
  }
}
body #shipping_method_step_header, body .one-step-checkout h3{
  text-align: right;
}
#one-step-checkout-form .checkout-review-load .data-table{
	thead {
		th{
			&:last-child{
				text-align: left;
    			padding-left: 0;
			}
		}
	}
	td{
		&.last{
			text-align: left;
		}
	}
	.totals{
		.amount{
			text-align: left;
		}
	}
}
@media only screen and (max-width: 767px) {
  .checkout-cart-index table#shopping-cart-table th.actions{
        border-left: 1px solid @bordercolor !important;
    border-right: 0;
  }
  .checkout-cart-index .cart-container .cart.table-wrapper .cart.items .col .product-item-photo{
    padding-right: 0;
    padding-left: 10px;
  }
  .checkout-cart-index .cart-container .cart.table-wrapper .product-item-details{
    padding-left: 0;
    padding-right: 10px;
  }
  .onsale_product .item-product .product-info-cart button{
  	    padding: 0 15%;
  }
}
table th{
  text-align: right;
}

/*dev_huy style 10/15/2020*/

#purchase-fake-order.purchase-order .product-purchase .purchase-info {
    padding-left: 0;
    padding-right: 15px;
    overflow: hidden;
}
#purchase-fake-order.purchase-order .product-purchase .purchase-image {
  float: right;
}
body .chosen-container .chosen-drop {
    left: auto;
    right: -9999px;
}
body .chosen-container .chosen-drop {
    width: 220px;
}
body .chosen-container.chosen-with-drop .chosen-drop {
    left: auto;
    right: 0;
}
.item-product:hover .actions-secondary {
  right: auto;
}
.fieldset .field .checkbox {
    float: right;
}
.bxslider.owl-theme .owl-controls .owl-buttons {
	display: none;
}