<!--@subject {{trans "Nova fatura do pedido %increment_id" increment_id=$order.increment_id}} @-->
{{template config_path="design/email/header_template"}}
<table class="email-container" cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Olá %customer_name," customer_name=$order_data.customer_name}}</p>
            <p>
                {{trans "Registramos a fatura do pedido <strong>#%increment_id</strong>." increment_id=$order.increment_id |raw}}
                {{trans "Este é um recibo fiscal e confirma que seu pagamento foi aprovado."}}
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h1>{{trans 'Fatura <span class="no-link">#%invoice_id</span>' invoice_id=$invoice.increment_id |raw}}</h1>
            <p>{{trans 'Pedido original: <span class="no-link">#%increment_id</span>' increment_id=$order.increment_id |raw}}</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <table class="order-details" width="100%">
                <tr>
                    <td class="address-details" width="50%">
                        <h3>{{trans "Dados de cobrança"}}</h3>
                        <p>{{var formattedBillingAddress|raw}}</p>
                    </td>
                    {{depend order_data.is_not_virtual}}
                    <td class="address-details" width="50%">
                        <h3>{{trans "Dados de entrega"}}</h3>
                        <p>{{var formattedShippingAddress|raw}}</p>
                    </td>
                    {{/depend}}
                </tr>
                <tr>
                    <td class="method-info" width="50%">
                        <h3>{{trans "Forma de pagamento"}}</h3>
                        {{var payment_html|raw}}
                    </td>
                    {{depend order_data.is_not_virtual}}
                    <td class="method-info" width="50%">
                        <h3>{{trans "Forma de envio"}}</h3>
                        <p>{{var order.shipping_description}}</p>
                    </td>
                    {{/depend}}
                </tr>
            </table>
            {{layout handle="sales_email_order_invoice_items" invoice=$invoice order=$order area="frontend"}}
            <p>
                {{trans "Caso precise da segunda via desta nota, acesse sua conta em %store_name ou responda este e-mail." store_name=$store.frontend_name}}
            </p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
