<!--@subject {{trans "Inscrição confirmada"}} @-->
{{template config_path="design/email/header_template"}}
<table class="email-container" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <h1>{{trans "Bem-vindo à lista VIP"}}</h1>
            <p>{{trans "O e-mail <strong>%subscriber_email</strong> foi confirmado em nossa newsletter." subscriber_email=$subscriber.email |raw}}</p>
            <p>{{trans "A partir de agora você receberá novidades, lançamentos e ofertas exclusivas."}}</p>
            <p>{{trans "Fique de olho na caixa de entrada e marque nossos e-mails como confiáveis para não perder nada."}}</p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
