<!--@subject {{trans "Descadastro realizado"}} @-->
{{template config_path="design/email/header_template"}}
<table class="email-container" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <h1>{{trans "Foi um prazer ter você"}}</h1>
            <p>{{trans "Confirmamos o descadastro do e-mail <strong>%subscriber_email</strong>." subscriber_email=$subscriber.email |raw}}</p>
            <p>{{trans "Você não receberá mais comunicações de marketing, mas ainda poderá acessar sua conta normalmente."}}</p>
            <p>{{trans 'Caso queira voltar, basta <a href="%subscribe_url">se inscrever novamente</a>.' subscribe_url=$this.getUrl($store,'newsletter/manage/',[_nosid:1]) |raw}}</p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
