.customer-account-create,
.customer-account-login {
  .page-title-wrapper .page-title {
    text-align: right;
  }
}

 .sidebar-main-1 .top_rate .rokan-product-heading h2 {
  text-align: right;
}
table th,
table td {
  border-left: 0;
  border-right: 1px solid #e6e6e6;
}
.label {
  text-align: right;
}
.fieldset > .field:not(.choice) > .label {
  text-align: right;
}
select {
  padding: 0 10px 0 25px;
  background-position: 15px 50%;
}
.rating-summary .rating-result {
  margin-left: 0;
  margin-right: 5px;
}
.product-reviews-summary .reviews-actions {
  margin-left: 0;
  margin-right: 10px;
  padding-left: 0;
  padding-right: 10px;
}
.product-reviews-summary.empty .reviews-actions {
  margin-right: 0;
  padding-right: 0;
}
.block-reorder .product-item,
.block-reorder .product-list-item {
  padding-right: 0;
}
.block-addresses-list .items.addresses .item.actions .action:after,
.account .data.table .col.actions .action:after,
[class^="sales-guest-"] .data.table .col.actions .action:after,
.sales-guest-view .data.table .col.actions .action:after,
.block .box-actions .action:after {
  border-right: 1px solid #e6e6e6;
}
.fieldset .field .checkbox {
  margin: 0 0 0 10px;
}
.block-dashboard-info .box-information {
  float: right;
  clear: right;
}
.toolbar-products .sorter{
  float: left;
  margin-right: 20px;
  margin-left: 0;
}
.block-dashboard-info .box-newsletter {
  float: left;
  clear: left;
}
.block-dashboard-addresses .block-title a {
  float: left;
}
.block-dashboard-addresses .box-billing-address {
  float: right;
  clear: right;
}
.block-dashboard-addresses .box-shipping-address {
  float: left;
  clear: left;
}
.account-nav .nav li a {
  padding-left: 0;
  padding-right: 10px;
}
.catalog-product-compare-index .table td {
  border-right: 1px solid #e6e6e6 !important;
}
#back-top {
  left: 10px;
  right: auto;
}
.block-new-customer .form-login,
.block-customer-login .form-login {
  text-align: right;
}
/*global*/
.searchsuite-autocomplete{
  width: calc(~'100% - 290px');
  left: 130px;
}
.searchsuite-autocomplete .title .see-all {
  float: left;
}
.searchsuite-autocomplete ul li.action .action.close {
  left: 0;
  right: auto;
}
.searchsuite-autocomplete ul li .qs-option-image {
  float: right;
}
.searchsuite-autocomplete ul li .qs-option-info {
  float: right;
  padding-left: 0;
  padding-right: 5%;
  text-align: right;
}
.searchsuite-autocomplete ul li .qs-option-info.noimage {
  padding-right: 0;
}
.searchsuite-autocomplete ul li .qs-option-info .qs-option-addtocart {
  float: left;
}
.block-search {
  float: left;
  margin-left: 50px;
  margin-right: 0;
}
.block-search .block-content .chosen-container-single .chosen-single {
  padding: 0 25px 0 15px;
}
.block-search .block-content .chosen-container-single .chosen-single:after {
  left: 0;
  right: auto;
}
.block-search .block-content .chosen-container-single .chosen-single div {
  left: 13px;
  right: auto;
}
.block-search .block-content input {
  padding: 10px 175px 10px 100px;
}
.block-search .block-content button.action {
  left: 0;
  right: auto;
  border-radius: 30px 0 0 30px;
  margin: 0;
}
.newsletter-footer button.action,
.newsletter-footer button.action:hover {
  border-radius: 30px 0 0 30px;
}
.search-content.loading button.action:before {
  right: 8px;
  left: auto;
}
@media only screen and (max-width: 767px) {
  .block-search .block-content input {
    padding: 10px 20px 10px 100px;
  }
  .toolbar-products .toolbar-amount{
    display: none;
  }
  .limiter .control{
      padding: 0 15px 0 0 !important;
  }
}
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */
/* clearfix */
/****************************************/
/*
  *   Owl Carousel Owl Demo Theme 
  * v1.3.3
  */
.page-footer .footer-container .footer-box-contact li {
  padding-right: 30px;
  padding-left: 0;
}
.page-footer .footer-container .footer-box-contact .fa {
  right: 0;
  left: auto;
}
.newsletter-footer:before {
  right: 0;
  left: auto;
}
.newsletter-footer .control {
  float: right;
}
.newsletter-footer .actions {
  float: right;
  margin-right: -2px;
  margin-left: 0;
}
.newsletter-footer input[type="email"] {
  padding-right: 30px;
  padding-left: 0;
  border-radius: 0 30px 30px 0;
}
.social-footer ul li a {
  margin-left: 10px;
  margin-right: 0;
}
.payment-method {
  text-align: left;
}
.logo_footer {
  float: left;
}
.item-product .product-info-cart {
  right: 0;
  left: auto;
}
.item-product .actions-secondary {
  left: 0;
  right: auto;
  transform: translateX(-110%);
}
.item-product:hover .actions-secondary {
  left: 10px;
}
body .chosen-container .chosen-results {
  padding: 0 4px 0 0;
}
.item-product .product-info {
  text-align: right;
}
.product-reviews-summary .rating-summary{ left:0; }
.item-product .product-info .product-rating .product-reviews-summary .rating-summary {
  left: 0;
  margin: 0 0 0 4px;
}
.product-reviews-summary .rating-summary{ left: 5px; }
.item-product .product-info .product-rating .product-reviews-summary .rating-result {
  margin-right: 0;
  margin-left: 0;
  width: 81px;
  direction: rtl;
}
.item-product.listview .product-thumb {
  float: right;
}
.item-product.listview .product-info {
  text-align: right;
  float: right;
  padding-right: 10px;
  padding-left: 0;
}
.action.tocart span:before {
  right: -20px;
  left: auto;
}
.quickview-link.loading:before {
  right: 50%;
  left: auto;
  margin-right: -7px;
  margin-left: 0;
}
.products-list .item-product .product-thumb {
  float: right;
  text-align: right;
}
.products-list .item-product .product-info {
  text-align: right;
  padding-right: 30px;
  padding-left: 0;
}
.products-list .item-product .product-info-cart {
  text-align: right;
}
.hot-onsale {
  right: 10px;
  left: auto;
}
.wrapper-bestseller.cat h4 {
  border-radius: 3px 3px 0 0;
}
.wrapper-bestseller.cat h4:before {
  padding-left: 10px;
  padding-right: 0;
}
.top-header .top-info {
  float: left;
}
.top-header .top-info > li {
  border-right: 1px solid #e6e6e6;
  border-left: 0;
  float: right;
}
.top-header .switcher {
  float: left;
}
.top-header .switcher .switcher-options .view-en img {
  margin-left: 2px;
  margin-right: 0;
}
.top-header .switcher .switcher-options .view-fr img {
  margin-left: 2px;
  margin-right: 0;
}
.top-header .switcher .switcher-options strong {
  padding-right: 20px;
  padding-left: 0;
}
.top-header .switcher .switcher-options .fa {
  margin-right: 5px;
  margin-left: 0;
}
body #quick-window .quick-view-content .product.media{
  margin-left: 3%;
}
.quick-view-content .box-tocart .fieldset .info-qty{
  margin-left: 20px;
  margin-right: 0 !important;
  padding-left: 10px;
}
.wrapper_quickview_item .detail-info-product-view .product-info-stock-sku .stock span{
  float: left;
  margin-right: 10px;
}
.product-add-form .fieldset>.field:not(.choice)>.control{
  width: 100%;
}
.fieldset>.field:not(.choice)>.label{
  padding-right: 0;
}
.contact-index-index .columns .contact-info ul li p strong{
  float: right;
  margin-left: 10px;
}
body #quick-window .quick-view-content .detail-info-product-view{
  margin-top: 30px;
}
.top-header .switcher .switcher-options .switcher-dropdown {
  left: 0px;
  right: auto;
}
.top-bar-left .sub-menu-top {
  left: auto;
  right: 0;
}
.language-selected img {
  margin-left: 5px;
  margin-right: 0;
}
.sub-menu-top {
  left: 0;
  right: auto;
}
.top-currency .sub-menu-top span {
  margin: 0 6px 0 16px;
}
.top-left-static {
  float: right;
}
.top-left-static:before {
  margin-left: 15px;
  margin-right: 0;
}
.top-left-static li {
  margin-left: 5px;
  margin-right: 0;
}
.top-left-static li:first-child {
  padding-left: 10px;
  padding-right: 0;
}
.top-left-static li:first-child:after {
  margin-right: 17px;
  margin-left: 0;
}
.top-left-static li a .fa {
  margin-left: 3px;
  margin-right: 0;
}
.top-contact {
  float: left;
  margin-left: 12px;
  margin-right: 0;
}
.top-contact:after {
  margin-right: 10px;
  margin-left: 0;
}
.top-contact .phone {
  margin-left: 8px;
  margin-right: 0;
}
.top-contact .phone:before {
  margin-left: 6px;
  margin-right: 0;
}
.top-contact .email {
  margin-right: 15px;
  margin-left: 0;
}
.top-account ul li a i {
  padding-left: 5px;
  padding-right: 0;
}
.top-account ul li a {
  border: 0;
  border-right: 1px solid @bordercolorheader;
}
.top-account ul li:first-child a {
  border: 0;
}
.top-account ul li:last-child a {
  padding-left: 0;
  padding-right: 20px;
  border-right: 1px solid @bordercolorheader;
}
.top-contact .email:before {
  margin-left: 6px;
  margin-right: 0;
}
.has-child > a::after {
  margin-right: 5px;
  margin-left: 0;
}
.hoteline_header {
  float: right;
  margin-top: 10px;
}
.hoteline_header .image_hotline {
  float: right;
}
.hoteline_header .wrap {
  float: right;
  margin-right: 10px;
  margin-left: 0;
}
.smart-search {
  float: left;
  margin-left: 50px;
  margin-right: 0;
}
.smart-search #choose_category {
  border-radius: 0 30px 30px 0;
}
.select-category {
  right: 2px;
  left: 0;
}
.smart-search-form input[type="text"] {
  padding-right: 167px;
  padding-left: 0;
}
.smart-search-form button[type="submit"] {
  left: 0;
  right: auto;
  border-radius: 30px 0 0 30px;
}
.select-category .category-toggle-link::after {
  left: 13px;
  right: auto;
}
.list-category-toggle {
  right: 0;
  left: auto;
}
.mini-cart-wrapper {
  float: left;
}
.header-mini-cart {
  float: left;
}
.mini-cart {
  float: left;
}
.header-mini-cart .counter.qty {
  left: -10px;
  right: auto;
  margin: -3px -11px 0 0;
}
.content-mini-cart {
  left: 0;
  right: 0;
}
.mini-cart-edit a {
  margin-left: 5px;
  margin-right: 0;
}
.mini-cart-info .details-qty button {
  padding: 0 5px 0 0;
}
.info-price del::after {
  right: 0;
  left: auto;
}
.mini-cart-total span {
  text-align: left;
}
.mini-cart-total .price-container {
  text-align: left;
}
.mini-cart-button a::before {
  right: 0;
  left: auto;
}
.title-category-dropdown {
  border-left: 1px solid @bordercolorheader;
  border-right: 0;
}
.title-category-dropdown span {
  padding-right: 22px;
  padding-left: 0;
}
.title-category-dropdown:after {
  right: 0;
  left: auto;
}
.header-wrapper-sticky.enable-sticky {
  right: 0;
  left: auto;
}
.mini-cart-wrapper.enable-sticky {
  left: 0;
  right: auto;
}
.mini-cart-wrapper .total-mini-cart-item-sticky {
  left: 25px;
  right: auto;
}
.wrap-category-dropdown {
  right: 0;
  left: auto;
}
.cat-mega-menu {
  right: 100%;
  left: auto;
  margin-right: 100px;
  margin-left: 0;
}
.list-category-dropdown > li.has-cat-mega:hover > .cat-mega-menu {
  margin-right: 0;
}
.title-cat-mega-menu {
  padding-right: 15px;
  padding-left: 0;
}
.list-cat-mega-menu li {
  padding-right: 5px;
  padding-left: 0;
}
.list-category-dropdown > li > a {
  padding: 9px 0 10px 20px;
}
.list-category-dropdown > li > a img {
  right: 20px;
  left: auto;
}
.list-category-dropdown8 > li > a img {
  right: 0;
  left: auto;
}
.toggle-mobile-menu::after {
  left: 0;
  right: auto;
}
.main-nav > ul li > .sub-menu,
.main-nav > ul li .submenu,
.main-nav ul li .subchildmenu,
.main-nav ul li .subchildmenu li .subchildmenu {
  right: 0;
  left: auto;
}
.main-nav > ul > li > .sub-menu {
  border-radius: 3px 3px 0 0;
}
.main-nav > ul > li.menu-item-has-children > a::after {
  margin-right: 5px;
  margin-left: 0;
}
.main-nav > ul > li.menu-item-has-children li.menu-item-has-children > a,
.main-nav ul li .subchildmenu > li > a {
  padding-left: 15px;
  padding-right: 0;
}
.header-container .header-content .top-bar-left {
  float: right;
}
.header-container .header-content .top-bar-left .top-text-left {
  position: relative;
  padding-right: 15px;
}
.header-container .header-content .top-bar-left .top-text-left:before {
  margin-left: 5px;
  margin-right: 0;
  position: absolute;
  right: 0;
}
.header-container .header-content .main-header .logo {
  float: right;
}
.header-container .header-content .main-header .top-menu {
  padding-right: 80px;
  padding-left: 0;
  float: right;
}
.header-container .header-content .top-bar-right {
  float: left;
}
.header-container .header-content .top-bar-right .top-bar-menu {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #e6e6e6;
  float: right;
}
.header-container .header-content .top-bar-right .top-bar-menu > li {
  float: right;
}
.header-container .header-content .top-bar-right .top-bar-menu > li .minicart-wrapper,
.header-container .header-content .top-bar-right .top-bar-menu > li > a {
  border-right-width: 1px;
}
.header-container .header-content .top-bar-right .top-bar-menu > li .minicart-wrapper .menu-icon,
.header-container .header-content .top-bar-right .top-bar-menu > li > a .menu-icon {
  margin-left: 5px;
  margin-right: 0;
}
.header-container .header-content .top-bar-right .top-bar-menu .sub-menu {
  left: 0;
  right: auto;
}
.header-container .header-content .top-bar-right .top-bar-menu .sub-menu li a {
  text-align: right;
}
.header-container .header-content .top-bar-right .top-bar-menu .sub-menu .switcher .switcher-options .switcher-trigger {
  margin-left: 20px;
  margin-right: 0;
  float: right;
}
.header-container .header-content .minicart-wrapper {
  margin-left: 11px;
  margin-right: 0;
}
.minicart-wrapper .block-minicart{
  left: 0;
}
.header-container .header-content .minicart-wrapper .block-minicart {
}
.header-container .header-content .minicart-wrapper .product .actions {
  left: 0;
  right: auto;
}
.header-container .header-content .minicart-wrapper .action.showcart .counter.qty {
  left: -8px;
  right: auto;
}
.header-container .header-content .mini-cart-wrapper.enable-sticky .minicart-wrapper .block-minicart {
  left: 0;
  right: auto;
}
/************************************************Popup*********************************************************/
#mask {
  right: 0;
  left: auto;
}
#boxes .window {
  right: 0;
  left: auto;
}
.window-popup .close-popup {
  left: 15px;
  right: auto;
}
.image-popup {
  left: 30px;
  right: auto;
}
/*******************************************************************************************************/
.search-by-cateogry .chosen-container-single .chosen-single {
  border: 0;
  border-left: 0;
  border-radius: 0 30px 30px 0;
}
.search-by-cateogry .chosen-container-single .chosen-single:before {
  left: -5px;
  right: auto;
}
.banner-top-home .fadeInUp {
  margin-right: 3px;
  margin-left: -10px;
  padding-left: 8px;
  padding-right: 0;
}
.banner-top-home .fadeInRight {
  padding-left: 10px;
  padding-right: 13px;
}
.bs-banner.block-banner-text.style5 .content {
  left: 110px;
  transform: translateY(50%);
  top: 50%;
  right: auto;
}
.bs-banner.block-banner-text.style5 .content.left-algin {
  left: auto;
  right: 60px;
}
.bs-banner.block-banner-text.style3 .content {
  left: 40px;
  right: auto;
  transform: translateY(50%);
}
.bs-banner.block-banner-text.right .content {
  right: 50%;
  left: auto;
  transform: translateY(50%);
}
.bs-banner.block-banner-text.left .content {
  right: 50%;
  left: auto;
  transform: translateY(-50%);
}
.bs-banner.block-banner-text .content {
  right: 20px;
  left: auto;
}
.bs-banner.block-banner-text .content .link-more em {
  margin-right: 5px;
  margin-left: 0;
}
.section-bestseller .tab_container {
  float: right;
}
.section-bestseller .tab_container .owl-item.first-active .item-product {
  border-right: 1px solid #e6e6e6;
  border-left: 0;
}
.section-bestseller .tab_container .item-product {
  border-right: 1px solid transparent;
  border-left: 0;
}
.section-bestseller .tab_container .item-product .content-item-product .product-info {
  padding-right: 11px;
  padding-left: 0;
}
.section-bestseller .list-tab-product .box-title .tabs li {
  margin-left: 3px;
  margin-right: 0;
  border-radius: 3px 3px 0 0;
}
.hot-deal .countdown_block {
  left: 0;
  right: auto;
}
.hot-deal .countdown_block .title_countdown {
  margin-left: 10px;
  margin-right: 0;
}
.hot-deal .countdown_block .super-deal-countdown .time_circles > div:after {
  margin-right: 12px;
  margin-left: 0;
}
.hot-deal .countdown_block .super-deal-countdown .time_circles > div span.number {
  margin-left: 6px;
  margin-right: 0;
}
.group-product .rokan-product-heading h2 {
  border-radius: 3px 3px 0 0;
}
.group-product .rokan-product-heading h2:before {
  padding-left: 18px;
  margin-right: 0;
}
.list-service .box-icon .icon {
  margin-left: 20px;
  margin-right: 0;
}
.section-featured-categories .wrap-category .owl-item .wp-item .item .popcat-box .category-info .sub-categories {
  padding-right: 0;
}
.percent-saleoff {
  right: 10px;
  left: auto;
}
.percent-saleoff::before {
  right: -4px;
  left: 0;
}
.percent-saleoff::after {
  right: 0;
  left: auto;
}
.amz-testimonial-container .persion .avatar {
  float: right;
}
.amz-testimonial-container .persion .name-position .time:before {
  margin-left: 6px;
  margin-right: 0;
}
.amz-testimonial-container .quote p:before {
  right: -25px;
  left: auto;
}
.amz-testimonial-container .quote p:after {
  left: 0px;
  right: auto;
}
.section-bestseller .categorytab-container .computer-laptop:before {
  padding-left: 10px;
  padding-right: 0;
}
.section-bestseller .categorytab-container .vc_tta-tabs-container {
  right: 42%;
  left: 0;
}
.section-bestseller .categorytab-container .vc_tta-tabs-container .tabs li {
  margin-right: 38px;
  margin-left: 0;
}
.box-blog:before {
  right: 0;
  left: auto;
}
.box-blog .item-blog .blog-button .readmore {
  float: left;
}
.box-blog .blog-image a:before {
  right: 0;
  left: auto;
}
.box-blog .block-content .time-conment .fa {
  margin-left: 5px;
  margin-right: 0;
}
.widget.block-search {
  float: right;
  margin-right: 0;
  padding-right: 0;
}
.widget .block-title strong:after {
  right: 0;
  left: auto;
}
.cart.table-wrapper .product-item-details {
  text-align: right;
}
.cart.table-wrapper .cart.items .col .product-item-photo {
  padding-right: 20px;
  padding-left: 0;
}
.checkout-container .table-checkout-shipping-method input[type="radio"] {
  margin-right: 10px;
  margin-right: 0;
}
.account .fieldset .legend {
  margin-right: 0;
}
.block.related .rokan-product-heading h2 {
  text-align: right;
}
.form-newletter .subscribe {
  left: 0;
  right: auto;
}
/* end style footer */
.fixed-right {
  left: 10px;
  right: auto;
  transform: translateY(50%);
}
.social-network a:hover::before {
  right: 0;
  left: auto;
}
.item-tags-category ul {
  padding-right: 8px;
  padding-left: 0;
}
.newsletter div.mage-error[generated] {
  right: 15px;
  left: auto;
}
.post-date > strong {
  margin-right: 0;
  margin-left: 5px;
}
.post-paginav li.item {
  margin-left: 8px;
  margin-right: 0;
}
.desc blockquote {
  border-right: 5px solid #e6e6e6;
  border-left: 0;
}
.catalog-product-view .product-add-form {
  float: right;
}
.catalog-product-view .bundle-options-container .control .field input {
  float: right;
}
.catalog-product-view .bundle-options-container .control .field label {
  float: right;
}
.catalog-product-view .bundle-options-container .qty-holder label {
  margin: 3px 0 0 10px !important;
}
.page-product-bundle .detail-info-product-view .bundle-actions,
.wrapper_quickview_item .detail-info-product-view .bundle-actions {
  right: 81px;
  left: auto;
}
.page-product-bundle .detail-info-product-view .price-box p .price-final_price,
.wrapper_quickview_item .detail-info-product-view .price-box p .price-final_price {
  float: right;
}
.page-product-bundle .detail-info-product-view .price-box p .old-price,
.wrapper_quickview_item .detail-info-product-view .price-box p .old-price {
  margin: 0 10px 0 0;
}
.wrapper_quickview_item .bundle-actions {
  right: 80px !important;
  left: auto !important;
}
.product-info-downloadable-custom .field.downloads .price-container .price-wrapper {
  padding-right: 10px;
  padding-left: 0;
}
.introduct_service div {
  float: right;
}
.delivery {
  border-right: 1px solid #222;
  border-left: 0;
}
.delivery:first-child {
  border-right: 0;
}
.header_main .contacinfo-phone {
  float: right;
}
.header_main .contacinfo-phone .wrap {
  padding-right: 10px;
  padding-left: 0;
}
.velaServicesInner .boxServiceImage {
  margin-left: 15px;
  margin-right: 0;
}
.velaServicesInner .rowFlex > div:not(:last-child):before {
  left: 0;
  right: auto;
}
.rokan-newproduct .product-item .product-photo {
  float: right;
  margin-left: 10px;
  margin-right: 0;
}
.menu_left_home1 {
  padding-left: 15px;
  padding-right: 0;
}
.sidebar_left_home1 {
  padding-left: 20px;
  padding-right: 0;
}
.category-tab .vc_tta-tabs-container {
  margin-left: 0;
}
.vc_tta-tabs-container .tabs li {
  float: right;
}
.vc_tta-tabs-container .tabs li:not(:last-child) {
  margin-left: 35px;
  margin-right: 0;
}
.verticalmenu.navigation.side-verticalmenu > ul li.level0 > .open-children-toggle:before {
  left: 20px;
  right: 0;
}
.section-featured-categories .wrap-category .owl-item .wp-item {
  border-right: 1px solid #f5f5f5;
  border-left: 0;
}
.section-featured-categories .wrap-category .owl-item.first-active .wp-item {
  border-right: 0;
}
.section-brands .item .brand-item {
  margin-left: 30px;
  margin-right: 0;
}
.minicart-wrapper .action.close {
  left: 5px;
  right: auto;
}
.product.attribute.sku {
  margin-right: 20px;
  margin-left: 0;
}
body table td,
body table th,
body table,
body td,
body th,
body .table > tbody + tbody {
  border: 0;
  border-left: 0;
}
.cart.table-wrapper .actions-toolbar > .action:last-child,
.action-gift:last-child {
  margin-right: 0;
  margin: 15px 0;
}
.hot-deal .first-active .hot-deal-tab {
  border-right: 0;
}
.content-cart {
  left: -80px;
  right: auto;
}
.head-contact {
  float: left;
}
.head-contact:before {
  padding: 0 23px 0 13px;
}
.product .value ul {
  padding-right: 18px;
  padding-left: 0;
}
.product-reviews-summary .reviews-actions a.action.view {
  border-left: 1px solid #e6e6e6;
  border-right: 0;
  padding-left: 5px;
  padding-right: 0;
  margin-right: 0;
}
.product-reviews-summary .reviews-actions a.action.add{
  float: left;
}
.verticalmenu.navigation.side-verticalmenu > ul li.level0 .level0.submenu {
  border-right: 0;
}
.detail-info-product-view {
  padding-right: 25px;
  padding-left: 0;
}
.sort-pagi-bar-bottom .toolbar-products {
  text-align: right;
}
.header-container .header-content .mini-cart-wrapper.enable-sticky {
  margin-left: 0;
}
.limiter .control {
  padding: 0 10px 0 20px;
}
.header-container .header-content .minicart-wrapper .minicart-items .product-item-details {
  text-align: right;
}
.wrap-payment-content .billing-address-details {
  text-align: right;
}
.cart-summary .block > .title {
  text-align: right;
}
.cart-summary #co-shipping-method-form .item-options .radio {
  float: right;
  margin: 0 0 0 15px;
}
.cart.table-wrapper .product-item-details {
  text-align: right;
  padding-right: 30px;
  padding-left: 0;
}
div.register-login {
  float: right;
}
.product-reviews-summary .reviews-actions a.action.view {
  padding-left: 10px;
  padding-right: 0;
  margin-left: 7px;
  margin-right: 0;
}
.post-paginav .pages .action.next:before,
.post-paginav li.item.pages-item-next a:before {
  margin-left: -4px;
  margin-right: 0;
}
.brand-item {
  margin-left: 10px;
  margin-right: 0;
  text-align: right;
}
#quick-window .quick-view-content .detail-info-product-view .title-product-quickview {
  padding-left: 35px;
  padding-right: 0;
}
.catalog-product_compare-index .action.print {
  float: left;
}
.contact-index-index .col-main {
  float: left;
}
.contact-index-index .columns .media-body {
  padding-right: 15px;
  padding-left: 0;
}
.contact-index-index .columns .social-link {
  text-align: right;
}
.contact-index-index .columns .social-link .widget ul {
  padding-right: 10px;
  padding-left: 0;
}
.filter-content .filter-options .filter-options-item .filter-options-title:after {
  margin-left: 0;
  left: 0;
  right: auto;
}
.catalog-product_compare-index .action.print {
  float: left;
}
@media (min-width: 1024px) {
  .page-products .products-grid .product-item:nth-child(3n + 1) {
    margin-right: 0;
  }
}
.products-grid .product-item {
  margin-right: 0;
}
.sidebar .product-items .product-item-info .product-item-photo {
  float: right;
  margin: 0 0 10px 10px;
}
.product-info-main .product-social-extra .action.tocompare,
.product-info-main .product-social-extra .action.towishlist {
  margin-left: 6px;
  margin-right: 0;
}
#layered-ajax-filter-block .action.remove span i:before {
  padding-right: 30px;
  padding-left: 0;
}
.menu-links-mobile {
  text-align: right;
}
#purchase-fake-order.purchase-order {
  right: 20px;
  left: auto;
}
#purchase-fake-order.purchase-order .purchase-close {
  left: 10px;
  right: auto;
}
.cart.table-wrapper .cart.items .col .product-item-photo {
  padding-right: 20px;
  padding-left: 0;
}
.cart.table-wrapper .qty-down-fixed-onclick-page-cart:after {
  left: 10px;
  right: auto;
}
.cart.table-wrapper .qty-up-fixed-onclick-page-cart:after {
  left: 10px;
  right: auto;
}
.cart.table-wrapper .col.qty .input-text {
  padding-left: 30px;
  padding-right: auto;
}
body input[type="checkbox"] {
  margin: 0 0 4px 6px;
}
.tbay-addon-video .tbay-addon-content .main-content {
  float: right;
}
.tbay-addon-video .tbay-addon-content .tbay-modalButton {
  right: 0;
  left: auto;
}
.ourteam-inner .social-link li {
  margin-right: 0;
  margin-left: 25px;
}
.cms-about-us blockquote {
  padding-right: 25px;
  padding-left: 0;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #ff9300;
  border-left: 0;
}
body .opcheckout-login-link {
  text-align: right;
}
.ourteam-inner .blog-post-info {
  text-align: right;
}
.block-reorder .product-item .field.item {
  margin-left: 5px;
  margin-right: 0;
}
.account .page-title-wrapper .page-title {
  margin-right: 10px;
  margin-left: 0;
}
.page-title-wrapper .order-date {
  margin-right: 10px;
  margin-left: 0;
}
.return-status,
.order-status {
  margin: 20px 10px 20px 0;
}
.custommenu.navigation li.level0.fullwidth .subchildmenu.mega-columns.columns4 > li {
  float: right;
}
@media (min-width: 768px) {
  .custommenu.navigation li.level0 > a > span.cat-label {
    left: 14px;
    right: auto;
  }
  .custommenu.navigation li.level0 > a > span.cat-label:before {
    right: 3px;
    left: auto;
  }
  .custommenu.navigation li .subchildmenu li > a > span > span.cat-label {
    left: -35px;
    right: auto;
  }
  .custommenu.navigation li .subchildmenu li > a > span > span.cat-label:before {
    right: -6px;
    left: auto;
  }
  .custommenu.navigation li.level0.fl-left {
    float: right;
  }
  .custommenu.navigation li.level0.fl-right {
    float: left;
  }
  .custommenu.navigation li.level0.fl-right.staticwidth .submenu {
    right: auto;
    left: 0;
    border-radius: 6px 6px 0 6px;
  }
  .custommenu.navigation li.level0.parent > .submenu.popup-left {
    right: auto;
    left: 0;
    border-radius: 6px 6px 0 6px;
  }
  .custommenu.navigation li.level0.fullwidth > .submenu {
    border-radius: 6px 6px 0 0;
  }
  .custommenu.navigation li.level0.fullwidth .submenu li.level1 .subchildmenu .subchildmenu,
  .custommenu.navigation li.level0.staticwidth .submenu li.level1 .subchildmenu .subchildmenu {
    padding-right: 10px;
    padding-left: 0;
  }
  .custommenu.navigation li.level0.classic .subchildmenu .subchildmenu {
    border-radius: 6px 0 6px 6px;
    right: 0;
    left: auto;
  }
  .custommenu.navigation li.level0.classic li.parent > .subchildmenu.popup-left {
    right: auto;
    left: 100%;
    border-radius: 0 6px 6px 6px;
  }
  .custommenu.navigation li.level0.classic .subchildmenu.popup-left .subchildmenu {
    right: auto;
    left: 100%;
    border-radius: 0 6px 6px 6px;
  }
  .custommenu.navigation li.level0.classic .submenu,
  .custommenu.navigation li.level0.classic .subchildmenu .subchildmenu {
    right: 0;
    left: auto;
  }
  .custommenu.navigation li.level0.staticwidth .submenu {
    right: 0;
    left: auto;
  }
  .custommenu.navigation.side-custommenu li.level0.parent > a:after {
    float: left;
  }
  .custommenu.navigation.side-custommenu li.level0.classic .submenu li.parent > a:after {
    margin-right: 6px;
    margin-left: 5px;
    float: left;
  }
  .custommenu.navigation.side-custommenu li.level0.fullwidth > .submenu,
  .custommenu.navigation.side-custommenu li.level0.staticwidth > .submenu {
    right: 100% !important;
    left: auto !important;
  }
  .custommenu.navigation.side-custommenu li.level0.classic > .submenu {
    right: 100% !important;
    left: auto !important;
  }
  .custommenu.navigation.side-custommenu li.level0 > a > span.cat-label {
    margin-right: 10px;
    margin-left: 0;
    left: 0;
    right: auto;
  }
  .custommenu.navigation.side-custommenu li.level0 > a > span.cat-label:before {
    right: -6px;
    left: auto;
  }
}
@media (max-width: 767px) {
  #close-menu {
       position: absolute;
      top: 15px;
      right: 4px;
      z-index: 999999;
      right: auto;
      left: 4px;
      a {
        position: relative;
        left: 15px;
        right: auto;
      }
  }
  .custommenu.navigation li.ui-menu-item > .open-children-toggle {
    left: 0;
    right: auto;
  }
  .custommenu.navigation span.cat-label {
    left: 36px;
    right: auto;
  }
  .custommenu.navigation span.cat-label:before {
    right: -6px;
    left: auto;
  }
}
.navigation {
  text-align: right;
  float: right;
}
.navigation .level-0.reverse > .submenu {
  left: 1px;
  right: auto;
}
.navigation .level0 > .menu-home.level-top:first-child {
  padding-right: 0;
  margin-right: 0;
}
.navigation li.level0 {
  margin: 0 0 0 50px;
}
.navigation .level-0 {
  float: right;
  text-align: right;
}
.navigation .level-0 > .submenu .column {
  margin-right: 40px;
  margin-left: 0;
}
.navigation .level-0 > .submenu .column:first-child {
  margin-right: 0;
}
.navigation .level-2 .submenu {
  margin-right: 7px;
  margin-left: 0;
}
.navigation .level-0 > .submenu .level-2 > a[href="#"] {
  margin-right: 7px;
  margin-left: 0;
}
.navigation .level-0 > .submenu .level-3 > a[href="#"],
.navigation .level-3 .submenu {
  margin-right: 15px;
  margin-left: 0;
}
.navigation .level-0.item-system > .submenu,
.navigation .level-0.item-stores > .submenu {
  right: auto;
  left: 1px;
}
.navigation .level0 .submenu {
  text-align: right;
}
.navigation .level0 .submenu .level1.parent .level2.parent a:after,
.navigation .level0 .submenu .level1.parent a:after {
  margin-left: -10px;
  margin-right: 0;
  float: left;
}
.custommenu.navigation li.level0.staticwidth .submenu {
  right: -280px !important;
  left: auto !important;
}
.top-block-menu .pull-left {
  margin-left: 15px;
  margin-right: 0;
}
@media (max-width: 768px) {
  .custommenu.navigation li.level0.staticwidth .submenu {
    right: auto !important;
    padding: 0 !important;
  }
  .navigation .level0:first-child > .level-top {
    padding-right: 14px;
    padding-left: 0;
  }
}
.product-slider-wrapper {
  float: right;
}
body #quick-window #quickview-close {
  left: 10px;
  right: auto;
}
body #quick-window .quick-view-content .detail-info-product-view {
  float: left;
}
.info-qty {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}
.info-qty .qty-down {
  right: 0;
  left: auto;
}
.info-qty .qty-up {
  left: 0;
  right: auto;
}
.attr-info .addcart-link {
  margin: 10px 60px 0 0;
}
.addcart-link i {
  margin-left: 5px;
  margin-right: 0;
}
.product-list .addcart-link i:hover {
  margin-left: 5px;
  margin-right: 0;
}
.addcart-link:hover i {
  margin-left: 10px;
  margin-right: 0;
}
.title-tab-detail li {
  margin-left: 3px;
  margin-right: 0;
}
.cms-homepage_azone_default #newsletter_pop_up .newletter_popup_close {
  left: 11px;
  right: auto;
}
#newsletter_pop_up .newletter_popup_close {
  left: 0;
  right: auto;
}
#newsletter_pop_up .newletter_popup_close span:before {
  left: 0;
  right: auto;
}
.cms-index-index .verticalmenu.navigation.side-verticalmenu > ul .vertical-bg-img {
  right: 20px;
  left: auto;
}
.verticalmenu.navigation.side-verticalmenu {
  right: 0;
  left: auto;
}
.verticalmenu.navigation.side-verticalmenu .menu-bottom-block {
  left: 0;
  right: auto;
}
.verticalmenu.navigation.side-verticalmenu > ul li.level0 .level0.submenu {
  right: 120% !important;
  left: auto !important;
}
.verticalmenu.navigation.side-verticalmenu > ul li.level0:hover .level0.submenu {
  right: 100% !important;
  left: auto !important;
}
@media (min-width: 1399px) {
  .box_language {
    float: left;
  }
  .product-tab-slider.tab_content {
    margin-left: 1px;
    margin-right: 0;
  }
  .cat .rightBlock {
    padding-right: 0;
  }
  .cat_special .product_row:nth-child(6) .desc ul {
    padding-right: 18px;
    padding-left: 0;
  }
  .select-category {
    right: 2px;
    left: auto;
  }
  .smart-search-form input[type="text"] {
    padding-right: 180px;
    padding-left: 0;
  }
  .hot-deal .hot-deal-tab-slider.hot-deal-tab-slider-customcss .woocommerce-hot-deal .super-deal-countdown .time_circles > div {
    margin-left: 10px;
    margin-right: 0;
  }
}
@media (max-width: 1399px) {
  .navigation li.level0 {
    margin: 0 0 0 35px;
  }
}
@media (min-width: 1200px) {
  .products-grid ol > li:nth-of-type(3n+1) {
    clear: right;
  }
}
@media (max-width: 1199px) and (min-width: 640px) {
  .products-grid ol > li:nth-of-type(3n+1) {
    clear: right;
  }
}
@media (max-width: 639px) and (min-width: 480px) {
  .products-grid ol > li:nth-of-type(2n+1) {
    clear: right;
  }
}
@media (max-width: 479px) and (min-width: 0px) {
  .products-grid ol > li:nth-of-type(1n+1) {
    clear: right;
  }
}
@media (max-width: 1199px) {
  .box_language {
    float: right;
  }
  .block-search {
    margin-left: 0;
  }
  .navigation li.level0 {
    margin: 0 0 0 19px;
  }
  .smart-search {
    margin-left: 0;
  }
  .select-category {
    right: 2px;
    left: auto;
  }
  .vc_tta-tabs-container {
    margin-left: 0;
  }
  .header-wrapper-sticky.enable-sticky .top-menu-sticky {
    padding-left: 0;
  }
  .footer-container.layout2 .section-footer-top .block-social {
    padding-left: 40px;
    padding-right: 0;
  }
  .header-container .header-content .main-header .top-menu {
    padding-right: 50px;
    padding-left: 0;
  }
}
@media (max-width: 991px) {
  .velaServicesInner .rowFlex > div:not(:last-child) {
    border-left: 0;
  }
  .toolbar-products .toolbar-amount {
    padding: 20px 0 0 0;
  }
  .vc_tta-tabs-container .tabs li:not(:last-child) {
    margin-left: 20px;
    margin-right: 0;
  }
  .custommenu.navigation > ul {
    padding-right: 0;
  }
  .top-menu .navigation {
    margin-right: 0;
  }
  .banner-top-home .fadeInUp {
    margin-right: 0;
    margin-left: -5px;
  }
  .header-container .header-content .main-header .top-menu {
    padding-right: 0;
  }
  .link-follow {
    text-align: right;
  }
  .footer-container.layout2 .section-footer-top .block-social {
    padding-right: 70px;
    padding-left: 0;
  }
  .slider_left-slider .owl-theme .owl-pagination {
    left: 40px;
    right: auto;
  }
  .section-bestseller .categorytab-container .vc_tta-tabs-container {
    right: 0;
    left: auto;
  }
  .section-bestseller .categorytab-container .vc_tta-tabs-container .tabs li {
    margin-left: 30px;
    margin-right: 0;
  }
  .sidebar_left_home1 {
    padding-left: 10px;
    padding-right: 0;
  }
}
.countdown-page-product-custom #countbox-p-p-c-container{
  .countdown-p-p-c-section{
    margin-right: 0;
    margin-left: 15px;
  }
}
.product-info-main .product.attribute.sku .type{
  margin-right: 0;
  margin-left: 5px;
}
.product-view .detail-info-product-view .price-box .old-price, .wrapper_quickview_item .detail-info-product-view .price-box .old-price, .product-view .detail-info-product-view .price-box .old.price, .wrapper_quickview_item .detail-info-product-view .price-box .old.price{
  float: right;
}
@media (max-width: 991px) and (min-width: 768px) {
  #layered_ajax_price_text .to_fixed {
    margin-right: 0 !important;
  }
  #layered_ajax_price_text .from_fixed {
    margin-left: 0 !important;
  }
}
@media (min-width: 768px) {
  .minicart-wrapper .block-minicart {
    left: -11px;
    right: auto;
  }
  .product.data.items > .item.title {
    margin: 0 0 0 30px;
    float: none;
    display: inline-block;
  }
}
@media (max-width: 767px) {
  .nav-toggle {
    right: 15px;
    left: auto;
  }
  .vc_tta-tabs-container ul {
    padding: 0 10px;
  }
  .vc_tta-tabs-container .tabs li {
    text-align: right;
  }
  .velaServicesInner .d-flex {
    text-align: right;
  }
  .velaServicesInner .boxServiceImage {
    float: right;
  }
  .boxServiceContent {
    float: right;
  }
  .velaFooterMenu .velaFooterTitle:before {
    left: 0;
    right: auto;
  }
  .header-container .header-content .minicart-wrapper .block-minicart {
    left: 0;
    right: auto;
  }
  .col_banner1 {
    padding-left: 10px;
    padding-right: 0;
  }
  .col_banner2 {
    padding-right: 10px;
    padding-left: 0;
  }
  .verticalmenu.navigation.side-verticalmenu li.level0 > a > span.cat-label {
    left: 0;
    right: auto;
  }
  .top-search {
    float: left;
  }
  .smart-search {
    margin-right: 42px;
    margin-left: 0;
  }
  .banner-top-home .fadeInUp {
    padding-left: 15px;
    padding-right: 0;
  }
  .header-container .header-content .minicart-wrapper {
    left: 10px;
    right: auto;
  }
  .verticalmenu.navigation.side-verticalmenu > ul li.level0:hover .level0.submenu {
    right: 0 !important;
    left: auto !important;
  }
  .verticalmenu.navigation.side-verticalmenu > ul li.level0 .level0.submenu {
    right: 0 !important;
    left: auto !important;
  }
  .nav-open .title-category-dropdown:after {
    right: 15px;
    left: auto;
  }
  .navigation li.level0 {
    margin-left: 0;
  }
  .navigation .parent .level-top:after {
    float: left;
  }
  .custommenu.navigation li.ui-menu-item > a {
    text-align: right;
  }
  .section-bestseller .categorytab-container {
    margin-right: 0;
  }
  .page-footer .footer-container .footer-box-contact li {
    padding-right: 0;
  }
  .detail-info-product-view {
    padding-right: 0;
  }
  .verticalmenu.navigation.side-verticalmenu > ul li.level0 .level0.submenu {
    padding-right: 15px;
    padding-left: 0;
  }
  .velaServicesInner .rowFlex > div:not(:last-child) {
    border-left: 0;
  }
  .toolbar-products .modes {
    float: right;
  }
  .page-products .toolbar .limiter {
    float: left;
  }
}
@media (max-width: 680px) {
  .top-header .switcher .switcher-options {
    padding-left: 16px;
    padding-right: 0;
  }
}
@media (max-width: 640px) {
  .menu-links-mobile li {
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .smart-search-form input[type=text] {
    padding-right: 25px;
    padding-left: 0;
  }
    .velaServicesInner .d-flex{
    text-align: center;
  }
  .velaServicesInner .boxServiceImage{
    float: none;
    margin-left: 0;
  }
  .top-bar-left .switcher.language.switcher-language {
    margin-right: 26px;
    margin-left: 0;
  }
  .smart-search {
    margin-right: 40px;
    margin-left: 0;
  }
  .main-nav > ul > li > a:first-child {
    padding-right: 0;
  }
  .block.newsletter .content .actions .action.subscribe {
    float: right;
  }
  .smart-search .chosen-container-single .chosen-single span {
    margin-left: 0;
  }
  .smart-search .chosen-container-single .chosen-single div {
    left: -2px;
    right: 0;
  }
  .top-header .switcher .switcher-options {
    padding-left: 0;
  }
  .vc_tta-tabs-container .tabs li {
    margin-left: 0;
  }
}
@media (max-width: 414px) {
  .toolbar-products .toolbar-amount {
    padding-right: 0;
  }
}
@media (max-width: 320px) {
  .top-account ul li a {
    border-right: 0;
  }
  .top-account ul li a i {
    padding-left: 0;
  }
  .smart-search {
    margin-right: 50px;
    margin-left: 0;
  }
  .title-catthum:before {
    padding-left: 15px;
    padding-right: 0;
  }
  .hot-deal .hot-deal-tab-slider.hot-deal-tab-slider-customcss .woocommerce-hot-deal .super-deal-countdown .time_circles > div {
    margin-left: 8px;
    margin-right: 0;
  }
  .post-tags-info {
    float: right;
  }
}
/*** Global ***/
.sidebar-shop .widget .widget-title:before {
  right: 0;
  left: auto;
}
.filter-content .filter-options .count {
  float: left;
}
.filter-content .filter-options .filter_color ol li a:before {
  margin-left: 18px;
  margin-right: 0;
  float: right;
}
.product-options-wrapper .swatch-option.text,
.product-options-wrapper .swatch-option {
  margin-left: 7px;
  margin-right: 0;
}
#layered_ajax_price_text {
  text-align: right;
}
#layered_ajax_price_text .from_fixed {
  margin-left: 10px;
  margin-right: 0;
}
#layered_ajax_price_text .to_fixed {
  margin-right: 10px;
  margin-left: 0;
}
.layered_ajax_overlay {
  right: 0;
  left: auto;
}
.layered_ajax_overlay div img {
  right: 50%;
  left: auto;
  margin-right: -15px;
}
.adv-widget-info {
  right: 0;
  left: auto;
}
.widget-adv .owl-theme .owl-controls {
  right: 0;
}
.toolbar-products .toolbar-amount {
  float: right;
  padding: 0 0 0 60px;
}
.toolbar-products .sorter-options {
  margin: 0 20px 0 0;
}
.toolbar-products .modes {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}
.toolbar-products .sorter{
  float: left;
  margin-right: 20px;
  margin-left: 0;
}
.sidebar .block-search .block-content input{
  padding: 10px 10px 10px 50px;
}
.sidebar .block-search .block-content button.action span:before{
  left: 0;
  right: auto;
}
.toolbar-products .modes .modes-label {
  float: right;
}
.toolbar-products .modes .modes-mode {
  margin-left: 10px;
  margin-right: 0;
}
.toolbar-products .modes-mode.mode-grid {
  margin-left: 10px;
  margin-right: 0;
}
.sort-pagi-bar-bottom .toolbar-products .pages {
  float: right;
}
.sort-pagi-bar-bottom .toolbar-products .toolbar-amount {
  float: left;
  padding: 0;
}
.page-products .toolbar .limiter {
  float: left;
}
.products-grid .item-product {
  float: right;
}
.products-list .item-product .product-desc ul{
  padding-right: 15px;
}
.products-list .item-product .product-info-cart .product-extra-link a{
  margin: 0 10px 0 0px;
}
.product-view .detail-info-product-view .product-info-stock-sku .stock .attribute,
.wrapper_quickview_item .detail-info-product-view .product-info-stock-sku .stock .attribute {
  margin-right: 10px;
  margin-left: 0;
}
.product-view .detail-info-product-view .price-box .price-container .price,
.wrapper_quickview_item .detail-info-product-view .price-box .price-container .price {
  margin-left: 10px;
  margin-right: 0;
}
.product-view .detail-info-product-view .special-price,
.wrapper_quickview_item .detail-info-product-view .special-price {
  float: right;
}
.product-view .mouse-over-to-zoom-in,
.wrapper_quickview_item .mouse-over-to-zoom-in {
  right: 0;
  left: auto;
}
.gallery-placeholder .row li.active:after {
  right: 43%;
  left: auto;
  margin-right: -4px;
  margin-left: 0;
}
.gallery-placeholder .owl-theme .owl-controls .owl-buttons > div {
  right: 9px;
  left: auto;
}
.gallery-placeholder .owl-theme .owl-controls .owl-buttons .owl-next {
  left: 9px;
  right: auto;
}
.product-view .box-tocart .field.qty,
.product-options-bottom .box-tocart .field.qty {
  padding-left: 15px;
  padding-right: 0;
}
.product-view .box-tocart .field.qty label,
.product-options-bottom .box-tocart .field.qty label {
  margin-left: 10px;
  margin-right: 0;
}
.wrapper_quickview_item .row li.active:after {
  right: 50%;
  left: auto;
}
.product-social-links .action,
.product-social-links .action.mailto.friend {
  margin-right: 0;
  margin-left: 5px;
}
.product.info.detailed .product.data.items .item.title a:before {
  right: 0;
  left: auto;
}
.product.info.detailed .product.data.items #product-review-container {
  float: right;
  margin-left: 2%;
  margin-right: 0;
}
.product.info.detailed .product.data.items #product-review-container .review-list .block-content .review-item .review-ratings .item .label {
  padding-right: 0;
}
.product.info.detailed .product.data.items #product-review-container .review-list .block-content .review-item .review-ratings .item .rating-result {
  float: left;
}
.product.info.detailed .product.data.items #product-review-container .review-list .block-content .review-item .review-content,
.product.info.detailed .product.data.items #product-review-container .review-list .block-content .review-item .review-details {
  margin-ight: 0;
}
.product.info.detailed .product.data.items .review-add {
  float: right;
}
.product.info.detailed .product.data.items .review-add .review-fieldset .field .label {
  text-align: right;
}
/*****************************************************************************************
                                     Contact
******************************************************************************************/
.hidden-category-dropdown .wrap-category-dropdown {
  right: 0;
  left: auto;
}
.item-contact-info::after {
  right: 100%;
  margin-right: -50px;
  left: auto;
}
.item-contact-info .contact-icon::before {
  right: 0;
  left: auto;
  transform: translateX(-200%);
}
.item-contact-info .contact-icon:hover i {
  transform: translateX(200%);
}
.about-menu > li {
  margin-left: 36px;
  margin-right: 0;
}
.about-menu a::after {
  right: 50%;
  left: auto;
}
.about-menu a:hover::after {
  right: 0;
  left: auto;
}
.about-full-protec p {
  padding-right: 25px;
  padding-left: 0;
}
.about-full-protec li::after {
  right: 30px;
  left: auto;
}
.video-about {
  padding-left: 60px;
  padding-right: 0;
  text-align: left;
}
.cms-about-us .backround_aboutus {
  right: 0;
  left: auto;
}
#pageContent .velaAboutUsTitle:after {
  right: 0;
  left: auto;
}
#pageContent .velaAboutUsTitle.text-center:after {
  right: 50%;
  left: auto;
  margin-right: -35px;
  margin-left: 0;
}
#pageContent .velaAboutUsTextHeading:before {
  right: 50%;
  left: auto;
}
#pageContent .velaAboutUsText .velaContent:before,
#pageContent .velaAboutUsText .velaContent:after {
  right: -100%;
  left: auto;
}
.storelocator-store-view .map-directions i {
  margin-left: 10px;
  margin-right: 0;
}
@media (max-width: 1399px) {
  .storelocator-index-index #locator_filter .column_left .center #store_list .list .location-information {
    margin-right: 15px !important;
    margin-left: 0 !important;
  }
}
.store-content .icons {
  float: right;
}
.store-content .right-info-store {
  padding-right: 70px;
  padding-left: 0;
}
/*****************************************************************************************
 
                                        Blog
******************************************************************************************/
.sidebar .block-search:before {
  left: 0;
  right: auto;
}
.widget.widget-post-cat span {
  left: 0;
  right: auto;
}
.title-post-tab li {
  margin-left: 25px;
  margin-right: 0;
}
.post-tab-info {
  padding-right: 20px;
  padding-left: 0;
}
.list-post-faq li h3 {
  padding: 12px 0 11px 20px;
}
.list-post-faq h3::after {
  left: 0;
  right: auto;
}
.post-date-author > li {
  margin-left: 5px;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 0;
}
.blockquote::before {
  border-left: 1px solid #e6e6e6;
  border-right: 0;
  right: 0;
  left: auto;
}
.simple-owl-slider {
  margin-left: 20px;
  margin-right: 0;
}
.unorder-post li {
  padding-right: 10px;
  padding-left: 0;
}
.unorder-post > ul {
  padding-right: 12px;
  padding-left: 0;
}
.single-post-share > a {
  margin-right: 5px;
  margin-left: 0;
}
.post-author-info {
  padding-right: 30px;
  padding-left: 0;
}
.post-author-info li {
  margin-left: 5px;
  margin-right: 0;
  padding-left: 8px;
  padding-right: 0;
}
.single-related-post-info .readmore {
  right: 20px;
  left: auto;
}
.related-comment {
  left: 20px;
  right: auto;
}
.single-related-post-slider .wrap-item.owl-theme .owl-controls .owl-buttons div {
  margin-right: 1px;
  margin-left: 0;
}
.product-view .detail-info-product-view .product-info-stock-sku .stock span{
  float: left;
  margin-right: 10px;
}
.single-related-post-slider .owl-theme .owl-controls {
  left: 15px;
  right: auto;
}
.single-post-comment-thumb {
  padding-left: 30px;
  padding-right: 0;
}
.header-post-comment .leave-comment-link {
  left: 0;
  right: auto;
}
.reply-comment-link {
  left: 0;
  right: auto;
}
.leave-comment-link::before {
  margin-left: 10px;
  margin-right: auto;
}
.post-author-link {
  border-left: 1px solid #e6e6e6;
  border-right: 0;
  margin-left: 3px;
  margin-right: 0;
  padding-left: 8px;
  padding-right: 0;
}
.post-comment-link {
  border-right: 1px solid #e6e6e6;
  border-left: 0;
  margin-right: 3px;
  margin-left: 0;
  padding-right: 8px;
  padding-left: 0;
}
.item-post-blog .blog-post-thumb {
  padding-left: 90px;
  padding-right: 0;
}
.item-post-blog .post-info-extra {
  right: auto;
  left: 0;
}
blockquote {
  border-right: 5px solid #e6e6e6;
  border-left: 0;
}
.logo {
  float: right;
}
.chosen-container-single .chosen-single span {
  margin-left: 26px !important;
  margin-right: 0  !important;
}
.feature_category .wrap-category .popcat-box .category-info {
  text-align: right;
  order: 2;
}
.item-blog {
  text-align: right;
}
.rowFlexMargin .vela-contactinfo .contacinfo-phone.contactinfo-item .wrap {
  margin-right: 10px;
  margin-left: 0;
}
.product-sold .ruler-sold-count {
  float: right;
}
.verticalmenu.navigation.side-verticalmenu > ul li.level0 > a {
  text-align: right;
}
.verticalmenu.navigation.side-verticalmenu > ul li.level0.parent > a:after {
  content: "\e605";
  float: left;
}
.main-nav > ul > li.menu-item-has-children > a::after {
  float: left;
  line-height: 55px;
}
.main-nav > ul > li.menu-item-has-children li.menu-item-has-children > a::after,
.main-nav ul li .subchildmenu > li > a:after {
  left: 0;
  right: auto;
  content: "\e605";
}
.main-nav > ul > li.menu-item-has-children li.menu-item-has-children > .sub-menu,
.main-nav ul li .subchildmenu > li .subchildmenu {
  right: 100%;
  left: auto;
}
.owl-carousel .item-product {
  direction: rtl;
}
.verticalmenu.navigation.side-verticalmenu li.level0>a>span.cat-label{
  position: absolute;
  left: 17px;
  right: auto;
}
.verticalmenu.navigation.side-verticalmenu li.level0>a>span.cat-label:before{
  right: -3px;
  left: auto;
}
.verticalmenu.navigation.side-verticalmenu li.level0>a>span.cat-label.cat-label-label3:before {
    border-left-color: #0ae3eb;
    border-right: transparent;
}
.verticalmenu.navigation.side-verticalmenu li.level0>a>span.cat-label.cat-label-label1:before {
    border-left-color: #0cc485;
    border-right: transparent;
}
.verticalmenu.navigation.side-verticalmenu li.level0>a>span.cat-label.cat-label-label2:before {
    border-left-color: #eb2771;
    border-right: transparent;
}
@media (max-width: 1199px) {
  .menu_primary {
    width: 70%;
  }
  .menu_left_home1 {
    width: 80px;
  }
  .box_language {
    float: left;
  }
}
@media (max-width: 991px) {
  .menu_primary {
    width: calc(100% - 20px);
  }
  .header-container .header-content .top-bar-right {
    float: none;
  }
  .cms-index-index .verticalmenu.navigation.side-verticalmenu>ul{
    border: 1px solid #ebebeb;
  }
}
@media (max-width: 767px) {

  .col_banner2 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .col_banner1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .verticalmenu.navigation li.ui-menu-item .submenu .title-cat-mega-menu:before {
    content: "\e605";
    left: 18px;
    right: auto;
  }
  .verticalmenu.navigation li.ui-menu-item .submenu .title-cat-mega-menu.ui-state-active:before {
    left: 18px;
    right: auto;
  }
  .verticalmenu.navigation li.ui-menu-item > .open-children-toggle {
    left: 0;
    right: auto;
  }
}
@media (max-width: 680px) {
  .payment-method {
    text-align: center;
  }
  .top-account ul li a {
      padding: 0 10px !important;
  }
}
@media (min-width: 768px){ 
  .customer-account-login .page-title-wrapper{
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .col_banner2,
  .col_banner1,
  .col_banner3 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .verticalmenu.navigation li.ui-menu-item .submenu .title-cat-mega-menu:before {
    content: "\e605";
    left: 18px;
    right: auto;
  }
  .verticalmenu.navigation li.ui-menu-item .submenu .title-cat-mega-menu.ui-state-active:before {
    left: 18px;
    right: auto;
  }
  .verticalmenu.navigation li.ui-menu-item > .open-children-toggle {
    left: 0;
    right: auto;
  }
}
@media (max-width: 680px) {
  .payment-method {
    text-align: center;
  }
  .top-account ul li a {
      padding: 0 10px !important;
  }
}
@media (min-width: 768px){ 
  .customer-account-login .page-title-wrapper{
    width: 48.8%;
    margin-right: auto;
    margin-left: auto;
  }
  .checkout-index-index .form-login {
    .fieldset>.field:not(.choice)>.control{
      float: right;
      width: 100%;
    }
    .field .control._with-tooltip {
      padding-right: 30px;
      input{
        margin-right: 0;
      }
      .field-tooltip{
        right: 0;
      }
    }
  }
}
.contact-index-index .columns .form.contact .action.primary{
  margin-right: 0;
}
@media (max-width: 767px){ 
  .block-search .block-content button.action{
    margin: 0;
  }
  .checkout-index-index .nav-sections, .checkout-index-index .nav-toggle{
    display: block;
  }
}
#one-step-checkout-form label,
.address-information ul li, 
.address-information .fieldset .field, #billing-new-address-form .fieldset .field,
#one-step-checkout-form input.radio, .payment-method input.radio,
#checkout-review-table-wrapper .osc-delete, .checkout-index-index .osc-delete{
  float: right !important;
}
.contact-index-index .columns .form.contact .action.primary,
.field .control._with-tooltip input{
  margin-right: 0 !important;
}
body .one-step-checkout .field-tooltip{
  right: auto;
  left: 0;
}
body #one-step-checkout-form .checkout-review-load .data-table tbody th, 
body #one-step-checkout-form .checkout-review-load .data-table tbody th label, body #one-step-checkout-form .checkout-review-load .data-table thead th, body #one-step-checkout-form .order-information ol li .opcheckout-shipping-method-section .sp-methods dt{
  text-align: right;
}
.order-review-info .opcheckout-discount .actions-button{
  margin-left: 0 !important;
}
.login-container .block.block-new-customer{
  text-align: right;
}
body .one-step-checkout h3{
  text-align: right;
}


.customer-account-forgotpassword .page-main .control.captcha-image .captcha-img {
    margin: 0 0 0 10px;
}

body.customer-account-forgotpassword,
body.customer-account-create ,
body.customer-account-login,
body.account {
  .actions-toolbar .primary {
    overflow: hidden;
    float: none !important;
  }
}

.toolbar-products .limiter .control select {
    background-position: ~"calc(100% - 38px) 50% no-repeat";
}

#locator_filter .column_left .block-content .bstlocator_input .button {
    border-radius: 3px 0 0 3px;
}
#locator_filter .column_left .block-content #current-address .input-box #locator-search {
    border-radius: 0 3px 3px 0;
}
body .main-nav>ul>li.menu-item-has-children li.menu-item-has-children>a:after,body .main-nav ul li .subchildmenu>li>a:after {
    left: 0 !important;
    right: auto !important;
    content: "\e605" !important;
}

@media (min-width: 768px), print {
  .page-main>.page-title-wrapper .page-title {
      display: block;
  }
}
.checkout-index-index #maincontent .page-title-wrapper .short-description {
  text-align: right;
}
.rokanthemes-onepagecheckout .page-main .authentication-wrapper {
    position: absolute;
    top: -46px;
    margin-top: -60px;
    right: auto;
    left: 0;
    text-align: left;
}

@media (max-width: 767px){
  .rokanthemes-onepagecheckout .page-main .authentication-wrapper {
      text-align: right;
      float: none;
      position: unset;
      top: 0;
      margin: 0 0 30px;
  }
}