<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Elasticsearch\SearchAdapter\Aggregation\Builder\Dynamic">
        <plugin name="grupoawamotos_dynamic_bucket_guard" type="GrupoAwamotos\OpenSearchFix\Plugin\DynamicBucketGuard" sortOrder="10"/>
    </type>
</config>
