.header-wrapper-sticky.enable-sticky {
  border-bottom: 1px solid @bordercolor;
}

.flex{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;       
}
.grid-layout{
	display: grid;
	&.two-col{
		@media (min-width: 768px){
			grid-template-columns: 1fr 1fr; 
		}
	}
}
.flex-layout{
	.flex;
}
.banner-slider{
	width: 95%;
	max-width: 1800px;
	margin: auto;
	padding: 0 15px;
	@media (max-width: 767px){
		width: 100%;
	}
}
@media (min-width: 1399px){
	.container {
	    max-width: 1800px;
	}
}
@media (min-width: 992px){
	.container {
		width: 95%;
	}
}
@media (min-width: 768px){
	.container {
		width: 95%;
	}
	.minicart-wrapper .block-minicart{
		right: 0;
	}
}
body.cms-index-index{
	background: #f5f5f5;
	.the_blog{
		margin-bottom: 45px;
	}
} 
.header-container{
	margin-bottom: 30px;
	.top-block{
		img{
			width: 100%;
		}
	}
	.block-search{
	    width: 90%;
	    margin-right: 20px;
	    max-width: 1000px;
	    padding: 0;
	   	margin-right: 20px;
	   	@media (max-width: 1800px){
			flex: 1;
		    width: auto;
		    max-width: 65%;
	   	}
	   	@media (max-width: 1500px){
	   		max-width: 75%;
	   	}
	   	@media (max-width: 991px){
	   		max-width: 80%;
	   	}
	}
	.header-content{
		.header{
			.header_main{
				border: 0;
				.wp-header{
					position: relative;
					&:after{
						content: '';
						position: absolute;
						bottom: 0;
						right: 15px;
						left: 15px;
						border-bottom: 1px solid @bordercolor;
						@media (max-width: 767px){
							display: none;
						}
					}
					
				}
			}
			.flex-layout{
				flex-direction: row-reverse;
				align-items: center;
				justify-content: space-between;
				margin-left: auto;
    			max-width: 1408px;
			}
			.col-header-action{
				.flex;
				align-items: center;
			}
		}
		@media (max-width: 1440px){
			.header-control{
				.container{
					> .row{
						.flex;
						justify-content: space-between;
						.menu_primary{
							flex: 1;
						}
						> div{
							width: auto;
						}
					}
				}
			}

		}
	}
	.mini-carts {
		.minicart-wrapper{
			width: auto;
			height: auto;
			margin: 0;
			padding-left: 20px;
			@media (max-width: 1024px){ 
				padding-left: 10px;
			}
		}
		.header-mini-cart{
		    text-transform: capitalize;
		    display: block;
		    text-align: center;
		    font-size: 14px;
			line-height: 1.4;
			color: @colorheader;
		    &:before{
		    	display: block;
		    }
		    .qty{
				top: 11px;
    			right: -1px;
			   	background: @linkshover;
			}
			@media (max-width: 1199px){
				font-size: 0;
				.qty{
					right: -10px;
				}
			}
			&:hover{
				color: @linkshover;
			}
		 }
	}
}
.header-control{
	border-bottom: 1px solid #e1e1e1;
}
.cms-index-index .header-control{
	border-bottom: 0;
}
.top-info{
	ul{
		.flex;
		flex-direction: row-reverse;
		li{
			a{
				display: block;
				font-size: 14px;
				line-height: 1.4;
				border: 0;
				position: relative;
				padding: 0 25px;
				.qty{
					position: absolute;
				    top: 6px;
				    right: 20px;
				    background: #ebebeb;
				    color: @headingcolor;
				    @media (max-width: 767px){
						top: 2px;
				    }
				}
				@media (max-width: 1199px){
					font-size: 0;
					.qty{
						right: 15px !important;
					}
				}
				@media (max-width: 1024px){
					.qty{
						right: 0px !important;
					}
				}
				&:before{
				    font-family: 'simple-line-icons';
				    font-size: 30px;
				    display: block;
				    text-align: center;
				}
			}
			&.wishlist{
				a{
					&:before{
						content: "\e09b";
					}
					.qty{
						right: 30px;
					}
				}
			}
			&.compare{
				a{
					&:before{
						content: "\e034";
					}
					.qty{
						right: 20px;
					}
				}
			}
			&:last-child{
				a{
					padding-right: 25px;
				}
			}
		}
	}
}
.top-info ul li a,
.header-container .mini-carts .header-mini-cart {
	.qty{
		position: absolute;
	    display: block;
	    min-width: 18px;
	    height: 18px;
	    display: inline-flex;
	    align-items: center;
	    justify-content: center;
	    border-radius: 50%;
	    font-size: 10px;
	}
}
.cms-index-index .page-main.container{
	display: none;
}
.banner_item_bg{
	margin: 0;
}
.owl-carousel .product_row .item-product:first-child {
    padding-bottom: 27px;
}
.banner-bottom7{
	margin-bottom: 50px;
}
.footer-container.layout7{
	border-top: 1px solid @bordercolor;
	.container>.rowFlex.rowFlexMargin{
		padding-bottom: 30px;
		margin: 0 -15px;
	}
	.velaNewsletterFooter{
		text-align: left;
		.newsletterDescription{
			.text-subcrib{
				color: @headingcolor;
			}
		}
	}
	.newsletter-footer{
		margin: 25px 0 5px;
		&:before{
			display: none;
		}
		>form{
			display: block;
			.newsletter{
				&:after,
				&:before{
					content: '';
					display: table;
					clear: both;
				}
				.flex;
				flex-wrap: wrap;
				.control{
					float: none;
					flex: 1;
				}
				input[type="email"]{
					width: 100%;
					border-radius: 3px 0 0 3px;
					border-width: 1px;
					padding-left: 15px;
				}
				button{
					border-radius: 0 3px 3px 0;
					font-weight: 400;
				}
			}
		}
	}
	.rowFlex{
		> div{
			padding: 0 15px;
		}
	}
	.col-first{
		flex: 0 0 30%;
		@media (max-width: 1550px){
			flex: 0 0 25%;
		}
	}
	.col-second{
		flex: 0 0 40%;
		@media (max-width: 1550px){
			flex: 0 0 45%;
		}
	}
	.col-three{
		flex: 0 0 30%;
		background-image: url(../images/bg_newsletter_bottom.png);
		background-repeat: no-repeat;
    	background-position: calc(~'100% - 20px') 30px; 
    	position: relative;
    	&:before{
    		content: '';
    		display: block;
    		border-left: 1px solid @bordercolor;
    		position: absolute;
    		left: 0;
    		top: 25px;
    		bottom: 40px;
    		@media (min-width: 1551px){
    			left: -10px;
    		}
    		@media (max-width: 991px){
				display: none;
    		}
    	}
	}
	@media (max-width: 1199px) and (min-width: 768px){
		.container>.rowFlex.rowFlexMargin{ 
			display: grid;
			grid-template-columns: 40% 60%;
			.col-second{
				grid-column: ~'1/3';
				.col-xs-12.col-sm-8{
					    width: 66.66666667%;
				}
			}
			.col-three{
				grid-column: 	~'2/3';
    			grid-row: ~'1/2';
			}
		}
	}
	@media (max-width: 767px){
		.col-first,
		.col-second,
		.col-three{
			flex: 0 0 100%;
		}
		.container>.rowFlex.rowFlexMargin{
			margin: 0 -15px;
		}
		.rowFlex > div{
			width: 100%;
		}
	}
	.rowFlexMargin {
		.velaBlock {
			.contacinfo-logo{
				margin-bottom: 45px;
			}
			.velaFooterLinks {
				margin: 0 -5px;
				li{
					padding: 9px 5px;
				}
			}
		}
		.vela-contactinfo {
			.contactinfo-item{
				margin-bottom: 16px;
			}
			.contacinfo-phone.contactinfo-item{
				margin: 20px 0 50px;
			}
		}
	}
}
.footer-bottom{
	border-top: 1px solid @bordercolor;
	.copyright{
		color: @headingcolor;
	}
}
.cat_1 .tab_container{
	padding: 30px 15px 0;
}
@media (max-width: 1024px){
	.top-info ul li:last-child a,
	.top-account ul li a,{
		padding: 0 10px !important;
	}
	.minicart-wrapper{
		padding-left: 12px;
	}
}
@media (max-width: 991px){
	.menu_primary{
		width: 100%;
	}
	.rokan-product-heading .vc_tta-tabs-container .tabs-categorytab {
	    text-align: left;
	}
}
@media (max-width: 767px){
	.nav-toggle:before{
		color: @headingcolor;
	}
	.top-header{
		display: none;
	}
	.header-control.header-nav{
		border: 0;
	}
	.header-main{
	    padding: 20px 0;
	    margin: 0;

	}
	.header-container .block-search{
		margin-right: 0;
		max-width: 90%;
	}
	.header-container {
		.header-content {
			.wp-header{
				position: relative;
				height: auto;
				.top-search{
					position: static;
				}
			}
			.header .col-header-action{
				position: absolute;
				right: 15px;
				top: -2px;
			}
			.minicart-wrapper{
				position: static;
				margin-top: 0;
			}
		}
	}
	.header-mini-cart::before,
	.top-info ul li a:before{
		font-size: 24px;
	}
	.top-info ul li a .qty, 
	.header-container .mini-carts .header-mini-cart .qty{
		height: 18px;
		min-width: 18px;
	}
	.menu_primary{
		display: block !important;
	    position: fixed;
	    -webkit-overflow-scrolling: touch;
	    -webkit-transition: left .3s;
	    -moz-transition: left .3s;
	    -ms-transition: left .3s;
	    transition: left .3s;
	    height: 100%;
	    left: -100%;
	    overflow: auto;
	    position: fixed;
	    top: 0;
	    width: 80%;
	    background: @lightcolor;
	    z-index: 222;
	    padding: 0;
	}
	.custommenu.navigation li.level0>.level-top{
		color: @headingcolor;
	}
	.nav-before-open{
		.menu_primary{
			left: 0;
		}
	}
	.custommenu.navigation .submenu.level0{
		width: auto;
		margin: 0;
	}
	.custommenu.navigation li.level0>.submenu .subchildmenu{
		opacity: 1;
		visibility: visible;
		margin: 0;
	}
	.header-container .header-content .header-control .container > .row > div{
		width: 80%;
	}
	.main-nav>ul>li .sub-menu>li, .main-nav>ul li:hover .submenu>li, .main-nav ul li:hover .subchildmenu>li{
		padding: 0;
	}
	.custommenu.navigation li.level0 > .submenu .subchildmenu li{
		padding: 0 10px;
		a{
			border: 0;
			padding: 12px 0;
		}
	}
	.custommenu.navigation .submenu.level0{
		padding: 0;
	}
	.custommenu.navigation li.level0 > .submenu > .subchildmenu {
		> li {
			&:first-child{
				> a{
					padding-top: 16px;
				}				
			}

		}

	}
	.navigation .parent .level-top:after{
		content: "\e606";
	}
	.custommenu.navigation li.level0 > .submenu .subchildmenu .subchildmenu{
		display: none;
	}
	.navigation .parent .level-top.ui-state-active:after{
		content: "\e604";
	    color: #222;
	    font-family: 'simple-line-icons';
	}
	.custommenu.navigation .level0 {
		.level0.submenu{
			
			&.opened{
				opacity: 1;
				visibility: visible;
				height: auto;
			}
		}
		> ul{
			> li{
				> a{
				    padding: 16px 0;
				}
			}
		}
		ul {
			position: static;
			height: auto;
			> li{
			
				a{
					border: 0;
					padding: 10px 0;
				}
				> a{
					color: #222;
				    font-weight: 500;
				    padding: 16px 0;
				    text-transform: uppercase;
				    font-size: 13px;
				}
				ul{
					padding-left: 10px;
				}
				.open-children-toggle{
					position: absolute;
					right: 10px;
					top: 9px;
					min-width: 30px;
					&:after{
						content: "\e606";
					    font-family: 'simple-line-icons';
					    float: right;
					    font-size: 12px;
					    line-height: 22px;
					    color: #999;
					}
				}
			}
		}
	}
}
@media (max-width: 480px){
	.header-container .block-search{
		max-width: 85%;
	}
	.header-container {
		.header-content {
			.col-sm-2{
				width: 40%;
				float: left;
			}
			.header .col-header-action{
				top: -8px;
			}
			.block-search{
				margin-top: 15px;
			}
		}
	}
	.top-info ul li:last-child a,
	.top-account ul li a,{
		padding: 0 12px !important;
	}
	.mini-cart-wrapper{
		padding-left: 12px;
	}
	.header-container .header-content .minicart-wrapper{
		padding-left: 0;
	}
}
@media (max-width: 320px){
	.nav-toggle{
		top: -62px;
	}
}
@media (max-width: 375px){
	.nav-toggle{
		top: -62px;
	}
}
.contact-index-index{
	#maincontent{
		.column.main{
			margin: 0 -15px;
		}
	}
	.header-container{
		margin-bottom: 0;
	}
}
.searchsuite-autocomplete{
	left: 158px;
    width: calc(~'100% - 288px');
}
.header-container .header-content .top-bar-left .top-text-left,
.top-header .top-account ul li a{
	color: #999;
	border-color: #393939;
}
.top-header .top-account ul li a:hover{    
	color: @linkshover;
}
.top-home-content{
	.banner_mid_1{
		margin-top: 30px;
	}
}
.block-search .block-content input{
	border: 2px solid @bordercolor;
	border-right: 0;
	border-radius: 30px;
}
.header-container .header-content{
	> .top-header{
		background: @headingcolor;
	 .header{
	 	background: transparent;
	 }
	}
}
.top-home-content.bottom{
	.velaServicesInner{
	    margin-bottom: 0;  
	    border-bottom: 0;
	    padding: 0 0;
	    border-radius: 0;
	    border-right: 0;
	    .velaContent{
	    	width: 95%;
		    max-width: 1800px;
		    margin: auto;
		    padding: 0 15px;
		    position: relative;
		    @media (max-width: 1199px){
				padding-bottom: 30px;
		    }
			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				right: 15px;
				left: 15px;
				border-bottom: 1px solid @bordercolor;
			}
	    }
	}
}
.cms-index-index{
	.footer-container.layout7{
		border: 0;
	}
}
body .page.messages{
	max-width: 1800px;
	padding-left: 0;
	padding-right: 0;
}
.sidebar {
	.block-search .block-content input{
		border-radius: 3px;
	}
}
.catalog-category-view .page.messages{
	padding: 0 15px;
}
.hot-deal .hot-deal-tab-slider.hot-deal-tab-slider-customcss{
	padding-bottom: 0;
}
