<!--@subject {{trans "Bem-vindo à %store_name" store_name=$store.frontend_name}} @-->
<!--@vars {
"var store.frontend_name":"Store Name",
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])":"Create Password URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "%name," name=$customer.name}}</p>
<p>{{trans "Bem-vindo à %store_name." store_name=$store.frontend_name}}</p>
<p>
    {{trans 'Para acessar o site e definir uma senha, clique neste <a href="%create_password_url">link</a>:'
        create_password_url="$this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])"
    |raw}}
</p>
<ul>
    <li><strong>{{trans "E-mail:"}}</strong> {{var customer.email}}</li>
    <li><strong>{{trans "Loja:"}}</strong> {{var store.frontend_name}}</li>
    <li><strong>{{trans "Minha conta:"}}</strong> <a href="{{var this.getUrl($store, 'customer/account/')}}">{{trans "Acessar conta"}}</a></li>
    </ul>
<p>{{trans "Ao entrar na sua conta, você poderá:"}}</p>
<ul>
    <li>{{trans "Finalizar compras mais rápido"}}</li>
    <li>{{trans "Verificar o status dos pedidos"}}</li>
    <li>{{trans "Visualizar pedidos anteriores"}}</li>
    <li>{{trans "Salvar endereços alternativos (para enviar a familiares e amigos)"}}</li>
</ul>

{{template config_path="design/email/footer_template"}}

