<!--@subject {{trans "Seu e-mail em %store_name foi alterado" store_name=$store.frontend_name}} @-->
<!--@vars {
"var store.frontend_name":"Store Name",
"var store_email":"Store Email",
"var store_phone":"Store Phone",
"var customer.name":"Customer Name"
} @-->
{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "%name," name=$customer.name}}</p>
<p>
    {{trans "Recebemos uma solicitação para alterar as seguintes informações da sua conta em %store_name: e‑mail." store_name=$store.frontend_name}}
    {{trans 'Se você não autorizou essa ação, entre em contato imediatamente pelo <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}{{depend store_phone}} {{trans 'ou ligue para <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}.
</p>

{{template config_path="design/email/footer_template"}}

