<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="grupoawamotos_header" translate="label" type="text" sortOrder="850" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Header (GrupoAwamotos)</label>
            <tab>grupoawamotos</tab>
            <resource>GrupoAwamotos_Header::config_header</resource>
            <group id="links" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Links Marketplace / B2B</label>
                <field id="vendor_enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ativar Link Vendedor</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="vendor_route" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Rota do Dashboard Vendedor</label>
                    <comment>Ex.: marketplace/vendor/dashboard</comment>
                </field>
                <field id="vendor_groups" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Grupos Permitidos Vendedor (IDs, vazio=todos)</label>
                </field>
                <field id="b2b_enable" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ativar Link Cotação B2B</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="b2b_route" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Rota da Solicitação B2B</label>
                    <comment>Ex.: b2b/quote/request</comment>
                </field>
                <field id="b2b_groups" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Grupos Permitidos B2B (IDs, vazio=todos)</label>
                </field>
            </group>
            <group id="recovery" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Recuperação Estrutural</label>
                <field id="enable_header_links" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Criar bloco header.links se ausente</label>
                    <source_model>Magento\\Config\\Model\\Config\\Source\\Yesno</source_model>
                </field>
                <field id="enable_customer_nav" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Criar container customer_account_navigation</label>
                    <source_model>Magento\\Config\\Model\\Config\\Source\\Yesno</source_model>
                </field>
                <field id="enable_sidebar_additional" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Criar container sidebar.additional</label>
                    <source_model>Magento\\Config\\Model\\Config\\Source\\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
