<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <grupoawamotos_fitment>
            <fallback>
                <sku_weight>3</sku_weight>
                <meta_keyword_weight>2</meta_keyword_weight>
                <synonyms></synonyms>
            </fallback>
            <search>
                <fallback_enabled>1</fallback_enabled>
            </search>
        </grupoawamotos_fitment>
    </default>
</config>
